<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TestStand Database Extraction Utility</title>
</head>
<body>

<h1>TestStand Database Extraction Utility</h1>
<h3>Select TestStand .mdb File to Process</h3>
<form
        action = "/upload"
        method = "POST"
        enctype = "multipart/form-data"
>
   <input type = "file" name = "file" /><br><br>
   <input type = "submit" value="Process"/>
</form>

</body>
</html>